<main>
    <div class="container d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
        <img src="assets/refeicoes.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center">Refeições & Lanches</h5>
          <p class="card-text" style="text-align:justify">Conheça nossos pratos prontos e, além de escolher também sua salada e sobremesas.</p>
          <div style="text-align: right;">
          <a routerLink ="/comidas" class="btn btn-danger">Ver Refeições</a>
        </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/bebidas.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center">Bebidas</h5>
          <p class="card-text" style="text-align:justify">Acompanhe sua refeição com refrigerante, água ou sucos naturais.</p>
          <div style="text-align: right;">
            <a routerLink ="/bebidas" class="btn btn-primary">Ver Bebidas</a>
          </div>
        </div>
      </div>
      </div>
  </main>